---
http_interactions:
- request:
    method: get
    uri: http://stat.ripe.net/data/geoloc/data.json?resource=74.125.237.209
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n    \"cached\": true, \n    \"data\": {\n        \"locations\":
        [\n            {\n                \"city\": \"Mountain View\", \n                \"country\":
        \"CA(US)\", \n                \"covered_percentage\": 100, \n                \"latitude\":
        37.419199999999996, \n                \"longitude\": -122.0574, \n                \"prefixes\":
        [\n                    \"74.125.192.0/18\"\n                ]\n            }\n
        \       ], \n        \"query_time\": \"2013-11-01T00:00:00\", \n        \"resource\":
        \"74.125.237.209\", \n        \"unknown_percentage\": 0.0\n    }, \n    \"data_call_status\":
        \"supported\", \n    \"messages\": [], \n    \"process_time\": 2, \n    \"query_id\":
        \"9176cdec-63fe-11e3-adf3-d4ae52a9c1b6\", \n    \"see_also\": [], \n    \"server_id\":
        \"stat-app3\", \n    \"status\": \"ok\", \n    \"status_code\": 200, \n    \"time\":
        \"2013-12-13T13:57:56.460014\", \n    \"version\": \"2.0\"\n}"
  recorded_at: Fri, 13 Dec 2013 13:57:54 GMT
recorded_with: VCR 2.7.0
